## Visual Studio Temp Files
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VSTO & Publishing
publish/
*.publish/
DictaNakdanVsto/DictaNakdanVsto_TemporaryKey.pfx

## NuGet Packages
packages/
!packages/repositories.config

## Inno Setup Outputs
InnoSetupOutput/
